*.class
**/target
bin/
dist
**egg-info
**/logs
products
repository
workspace
*~
target
.classpath
.project
.settings
MANIFEST.MF
opendaylight/northbound/integrationtest/logs/*
*.ipr
*.iml
*.iws
.idea
.pydevproject
*.pyc
log.html
output.xml
report.html
*.swp
target-ide/
.tox
.vagrant
.DS_Store
.checkstyle
.factorypath
yang-gen-config
yang-gen-sal
maven-metadata-local.xml
.metadata
.recommenders
/.gitignore
.fbExcludeFilterFile
xtend-gen
