[access]
	inheritFrom = All-Projects
[project]
	description = NetVirt
[access "refs/*"]
	owner = group saml/odl-gerrit-netvirt-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
